//Variables 
@import "../../Variables";



.grid-rightsidebar {
    position: relative;
    background-color: $lightGrey !important;
    border-radius: 15px;
    transition: all 300ms ease;

    .hide-sidebar-btn {
        position: absolute;
        top: 40px;
        left: -10px;
        transform: rotate(-90deg);

        &:hover {

            path {
                fill: $lightBlue;
            }
        }
    }
}

.grid-rightsidebar.rightsidebar-hidden {    
    transform: translateX(190px) !important;

    .hide-sidebar-btn {
        transform: translateX(-2px) rotate(90deg);
    }
}

.sidebar-hidden {    
    transform: translateX(0px);

    .hideSidebarBtn {
        transform: translateX(45px) rotate(-90deg);
    }
}

.show-sidebar-mobile {
    transform: translateX(0px);

    .hideSidebarBtn {
        transform: translateX(-1px) rotate(90deg) !important; 
    }
}



//Responsivity

//1280px
@media screen and(max-width: 1280px) {

    .grid-rightsidebar {
        right: 0;
        top: 0;
        height: 100vh;
        width: 280px;
        transform: translateX(268px);
        box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.4);
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        z-index: 1;

        .hide-sidebar-btn {
            left: -11px;
            transform: rotate(-270deg);
        }
    }
}