//Variables 
@import "../../Variables";



.sidebar {
    background-color: $lightGrey;
    border-radius: 15px;
    transition: all 300ms ease;

    .sidebarlist {
        position: relative;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        li {
            position: relative;
            display: flex;
            align-items: center;

            a {
                display: flex;
                align-items: center;
                width: 46px;
                height: 46px;
                display: flex;
                justify-content: center;
                align-items: center;

                svg {

                    path {
                        stroke: $grey;
                    }
                }

                &:hover {

                    svg {
                        filter: drop-shadow(0 0 5px rgba($lightBlue, 0.5));

                        path {
                            fill: $lightBlue !important;
                        }
                    }
                }
            }

            a.active {
                position: relative;
                background-color: rgba($white, 0.025);
                border: 1px solid rgba($white, 0.025);
                border-radius: 50%;
                overflow: hidden;

                svg {
                    filter: drop-shadow(0 0 5px rgba($lightBlue, 1));

                    path {
                        fill: $lightBlue;
                        stroke: transparent !important;
                    }
                }

                + small {
                    left: 3.6rem;
                }

                &:hover {
                    stroke: $black;
                }

                &:after {
                    content: "";
                    position: absolute;
                    bottom: -13px;
                    width: 100%;
                    height: 10px;
                    background-color: $lightBlue;
                    border-radius: 75%;
                    filter: blur(7px);
                }
            }
        }

        li.logout {
            position: absolute;
            bottom: 0;
        }

        li:not(:last-child) {
            margin-bottom: 1.2rem;
        }

        .hideSidebarBtn {
            position: absolute;
            top: 0;
            transform: rotate(90deg);
            transition: all 300ms ease;

            &:hover {

                path {
                    fill: $lightBlue;
                }
            }
        }
    }
}

.sidebar.sidebarHidden {    
    transform: translateX(0px);

    .hideSidebarBtn {
        transform: translateX(45px) rotate(-90deg);
    }
}

.sidebar.showSidebarMobile {
    transform: translateX(0px);

    .hideSidebarBtn {
        transform: translateX(-1px) rotate(90deg) !important; 
    }
}



//Responsivity

//1280px
@media screen and (max-width: 1280px) {

    .sidebar {
        position: fixed;
        height: 100vh;
        left: 0;
        top: 0;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
        border-bottom-left-radius: unset;
        border-top-left-radius: unset;
        transform: translateX(-98px);
        z-index: 1;

        .sidebarlist {

            .hideSidebarBtn {
                right: -42px;
                transform: rotate(-90deg);
            }
        }
    }

    .sidebar.sidebarHidden  {

        .hideSidebarBtn {
            right: -40px;
            transform: rotate(-270deg);
        }
    }
}