//Variables 
@import "../../Variables";



.grid-subheader {
    display: flex;
    align-items: center;

    .grid-days {
        width: calc(100vw - 500px);
        transition: all 300ms ease;

        .current-month {
            color: $white;
        }

        .day-items {
            position: relative;
            display: flex;
            white-space: nowrap;
            overflow-x: hidden;
            overflow-y: hidden;
            user-select: none;
            transition: all 300ms ease;
            margin-top: 0.5rem;
            cursor: pointer;
    
            .day-item {
                min-height: 50px;
                min-width: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background-color: $lightGrey;
                border-radius: 15px;
                transition: all 300ms ease;
    
                span {
                    font-size: 0.7rem;
                    font-weight: 600;
                    color: $grey;
                    line-height: 1.2;
                }
    
                small {
                    color: $lowContrastLightBlue;
                    font-size: 0.6rem;
                    font-weight: 600;
                }

                &:hover {
                    background-color: $lightBlue;
                    
                    small, span {
                        color: $white;
                    }
                }
            }
    
            .day-item.current-day {
                background-color: $lightBlue;
                box-shadow: 0 10px 15px rgba($black, 0.15);
                border: none;
    
                span, small {
                    color: $white;
                }
            }
    
            .day-item:not(:last-of-type) {
                margin-right: 0.7rem;
            }
        }
    
        .grid-items.active {
            cursor: grabbing;
        }
    }
}