$white: rgb(255, 255, 255);
$black: rgb(23, 23, 33);
$darkerGrey: rgb(18, 19, 23);
$grey: rgb(136, 136, 138);
$lightGrey: rgb(25, 26, 31);
$lighterGrey: rgb(34, 34, 44);
$lightBlue: rgb(34 ,149, 255);
$darkerBlue: rgb(17, 121, 219);
$lowContrastLightBlue: rgb(89, 89, 102);
$lightGreen: rgb(25, 190, 10);
$lightRed: rgb(243, 76, 96);
$lightOrange: rgb(255, 135, 23);
$lighterOrange: rgb(249, 152, 77);
$darkPurple: rgb(161, 64, 186);
$lightPurple: rgb(181, 63, 144);
$darkBlue: rgb(80, 75, 161);
$lightBlue: rgb(56, 138, 193);