.formControl {
    position: relative;
    height: 45px;
    display: flex;
    align-items: center;
    background-color: rgb(25, 26, 31);
    padding: 0 0.7rem;
    border-radius: 15px;
    transition: all 300ms ease-in-out;
}

.formControl:hover svg {
    filter: drop-shadow(0 0 5px rgba(34, 149, 255, 1));
}

.formControl:hover svg path {
    fill: rgb(34, 149, 255);
    stroke: transparent !important;
}

.formControl input {
    width: 100%;
    height: 100%;
    padding-left: 0.2rem;
    background-color: transparent;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(89, 89, 102);
    border: none;
    outline: none;
}

.inputError {
    width: 100%;
    position: absolute;
    top: 48px;
    font-weight: 500;
    font-size: 0.65rem;
    color: rgb(243, 76, 96);
}

.small {
    width: 24%;
}

.medium {
    width: 49%;
}

.large {
    width: 100%;
}

.select {
    height: 45px;
    position: relative;
}

.select:hover svg {
    filter: drop-shadow(0 0 5px rgba(34, 149, 255), 0.6);
}

.select:hover svg path {
    fill: rgb(34 ,149, 255);
    stroke: transparent !important;
}

.select input {
    width: 100%;
    height: 100%;
    padding-left: 1rem;
    background-color: rgb(25, 26, 31);
    border-radius: 15px;
    border: none;
    cursor: pointer;
}

.select svg {
    position: absolute;
    right: 0.5rem;
    top: 0.8rem;
}

.select .selectList {
    position: absolute;
    width: 100%;
    padding: 1rem;
    background-color: rgb(25, 26, 31);
    border-radius: 15px;
    transition: all 300ms ease;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
}

.selectList ul li {
    padding: 0.2rem;
    font-size: 0.7rem;
    font-weight: 600;
    color: rgb(89, 89, 102);
    cursor: pointer;
    transition: all 300ms ease;
}

.selectList ul li:hover {
    padding-left: 0.5rem;
    color: rgb(255, 255, 255);
}

.select.selectVisible .selectList {
    visibility: visible;
    opacity: 1;
}

.select.selectVisible svg {
    transform: rotate(180deg);
}

.dropdown {
    position: absolute;
    width: 120px;
    padding: 1rem;
    background-color: rgb(18, 19, 23);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
    z-index: 1;
}

.dropdown.dropdownVisible {
    opacity: 1;
    visibility: visible;
}